<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>host</key>
    <string>easeai.co</string>
    <key>apiKey</key>
    <string>ea-f8c28c7d021644e0bc8c0759d9772fe0</string>
</dict>
</plist>
